/*
 * Copyright (c) 2021 Mike "KemoNine" Crosson
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
/ {
	chosen {
		zmk,kscan = &kscan0;
	};

	kscan0: kscan_0 {
		compatible = "seeed-xiao-gpio";

		label = "KSCAN";

		input-gpios
		=   <&gpio1 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio1 5  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio1 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio1 7  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  
			, <&gpio1 1  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio1 0  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio1 15  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio1 14  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			;
	};
};
